<!DOCTYPE html>
<html>
<head>
  <title>Mobiliteit</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!-- load fontawesome -->
  <link rel='stylesheet' href='stylesheets/style.css'/>
  <link rel="shortcut icon" href="logo.ico" type="image/vnd.microsoft.icon">
</head>

<body>
<div class="container">

  <h1><%= error.status %></h1>

  <h2><%= message %></h2>

  <br/>
  <p><a href="/">home</a></p>

  <br/>
  <div id="errorDiv"  style="display:none;" class="answer_list" >
    <pre><%= error.stack %></pre>
  </div>
  <input id="btnShowError" type="button" name="answer" value="Show Error" onclick="showError()" />

  <script>
    function showError() {
      document.getElementById('errorDiv').style.display = "block";
      document.getElementById('btnShowError').style.display = "none";
    }
  </script>
</div>
</body>
</html>
